footer.row.bg-dark.px-3.py-4
  div.col.mx-2
    h4.text-light Blog.Com
    hr
    h6.text-secondary.pl-2 A Social Media Website
  ul.col.list-unstyled
    li.py-2 
      a(href="#").text-light Home
    li.py-2 
      a(href="#").text-light About
    li.py-2 
      a(href="#").text-light Contact
