footer.row.bg-dark.py-4.w-100.m-0
  div.col-md
    h4.text-light Blog.Com
    hr
    h6.text-secondary.pl-2 A Social Media Website
    hr
  ul.col-md.list-unstyled.text-uppercase
    h4.text-light Links
    hr
    li.py-2 
      a(href="#").text-light Home
    li.py-2 
      a(href="#").text-light About
    li.py-2 
      a(href="#").text-light Contact
    hr
  div.col-md.text-uppercase
    h4.text-light Account
    hr
    div.px-4
      a(href="/sign-in").btn.btn-primary.my-3 Sign In
      a(href="/sign-up").btn.btn-secondary Sign Up
