extends layout.pug

block main
  div(style="width: 400px;").card.mx-auto.my-4
    form.text-center.background-light#loginForm
      p.h4.bg-info.text-light.p-4 Sign In
      div.card-body.px-5.py-4
        p(for="loginFormEmail").text-left Email:
        input(
          type="email",
          placeholder="email"
        ).form-control.mb-4#loginFormEmail
        p(for="loginFormPassword").text-left Password:
        input(
          type="password",
          placeholder="password"
        ).form-control.mb-4#loginFormPassword
        div.d-flex.justify-content-around
          div
            div.custom-control.custom-checkbox
              input(type="checkbox").custom-control-input#loginFormRemember
              label(for="loginFormRemember").custom-control-label Remember Me
          div
            a(href="forgot-password") Forgot Password?
        button(type="submit").btn.btn-info.btn-block.my-4 Sign In
        p Don't Have an Account?
          a(href="/sign-up") &nbsp; Sign Up

append scripts
  script(src="scripts/sign_in.js")
